@tailwind base;

@tailwind components;

@tailwind utilities;

.btn {
  @apply bg-secondary text-center shadow-btn p-1;
  cursor: pointer;

  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.shadow-btn {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btn-danger {
  @apply btn bg-red-800;
}
.post {
  @apply bg-white text-black m-4 py-8 px-8;
}
